body{
    margin: 0;
	padding: 0;
	background: black url('/public/img/repeat.jpg') repeat-x top center;
    font-size: 13px;
    color: #8C8C8C;
}
div.header {
	width: 760px;
	height: 288px;
	margin: 0 auto;
	background: url('/public/img/header.jpg') no-repeat right top;
}
div.site{
    margin-left: 90px;
    padding: 10px;
    border: 1px white solid;
}
div.sidebar{
    position: relative;
    left: 10px;
    width: 180px;
    min-height: 100px;
    height: auto !important;
    height: 100px;
    float: left;
    border: 1px white solid;
}
div.login{
    position: relative;
    top: 10px;
    left: 100px;
    width: 875px;
    min-height: 100px;
    height: auto !important;
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px white solid;
    font-size: 11pt;
    line-height: 150%;
    
}
div.categories{
    position: relative;
    top: 10px;
    left: 10px;
    width: 150px;
    min-height: 120px;
    height: auto !important;
    height: 120px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: 1px white solid;
    margin-bottom: 10px;
}
div.posts{
    position: relative;
    top: 10px;
    left: 50px;
    width: 550px;
    float: left;    
    min-height: 500px;
    height: auto !important;
    height: 500px;
    padding: 15px;
    border: 1px white solid;
}
div.footer{
    position: relative;
    top: 25px;
    left: 220px;
    width: 550px;
    height: 25px;
    padding: 15px;
    padding-top: 20px;
    margin-bottom: 70px;
    clear:both;
    text-align: center;
    color: white;
    border: silver 1px solid;
}
h1.post_title{
    font-size: 20px;
}
h1.categories{
    font-size: 20px;
    text-align: center;
}
h2.category_title{
    font-size: 12px;
    font-family: "Tahoma";
    font-weight: normal;
}
p.post_text{
    color: gray;
}
p.post_date{
    color: orange;
    text-align: right;
}
p.warp{
    white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	word-wrap: break-word;      /* IE 5+ */  
}
a.post{
	font-size: 32px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.05em;
	text-decoration: none;
	line-height: 40%;
}
a.post:hover{
	font-size: 32px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.05em;
	text-decoration: underline;
	line-height: 40%;
}
a.category_link{
    color: #9bdb18;
	text-decoration: none;
    font-size: 13pt;
    font-weight: normal;
    line-height: 150%;
	letter-spacing: 0.15em;
}
a.category_link:hover{
    color: #e6b715;
    font-style: italic;
}